*{
    margin: 0;
    padding: 0;
}
body{
    
    text-align: center;
}
.textos{
    background: white;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(5, 1fr);
    /*justify-content: center;*/
    /*grid-template-rows: (5, 1fr);*/
}
.texto1{
    font-family: 'Baskervville', serif;
    background: cornsilk;
    margin: 3;
    padding: 4;
    font-size: large;
    border: 3px;
    display: flex;
    justify-content: center;
} 
.texto2{
    font-family: 'Coustard', serif;
    font-size: large;
    margin: 0px;
    padding: 0px;
    border-color: pink;
    display: flex;
    background: lightpink;
    justify-content: center;
}
.texto3{
    font-family: 'Fauna One', serif;
    font-size: large;
    margin: 0px;
    padding: 0px;
    border-color: gray;
    display: flex;
    background: lightgrey;
    justify-content: center;
}
.texto4{
    font-family: 'Slabo 13px', serif;
    font-size: large;
    margin: 0px;
    padding: 0px;
    border-color: green;
    background: lightgreen;
    display: flex;
    justify-content: center;
}
.texto5{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: large;
    margin: 0px;
    padding: 0px;
    border-color: blueviolet;
    background: violet;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 600px){
    .title{
        text-align: center;
    }
    .textos .texto1{
        grid-column: 1/-1;
    }
    .textos .texto2{
        grid-column: 1/-1;
    }
    .textos .texto3{
        grid-column: 1/-1;
    }
    .textos .texto4{
        grid-column: 1/-1;
    }
    .textos .texto5{
        grid-column: 1/-1;
    }
}